codigo/aspx/RedProyectos/RedProyectos/Connected Services/ServicioMensaje/Mensajes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios/" targetNamespace="http://servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="setMensaje" type="tns:setMensaje" />
  <xs:element name="setMensajeResponse" type="tns:setMensajeResponse" />
  <xs:complexType name="setMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="amigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setMensajeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>