codigo/aspx/RedProyectos/RedProyectos/Connected Services/ServicioAsociacion/Asociaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios/" targetNamespace="http://servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="crearAsociacion" type="tns:crearAsociacion" />
  <xs:element name="crearAsociacionResponse" type="tns:crearAsociacionResponse" />
  <xs:complexType name="crearAsociacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crearAsociacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>