codigo/aspx/RedProyectos/RedProyectos/Connected Services/ServicioEstados/Estados.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios/" targetNamespace="http://servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="setComentario" type="tns:setComentario" />
  <xs:element name="setComentarioResponse" type="tns:setComentarioResponse" />
  <xs:element name="setEstado" type="tns:setEstado" />
  <xs:element name="setEstadoResponse" type="tns:setEstadoResponse" />
  <xs:complexType name="setEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setEstadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="cod_estado" type="xs:int" />
      <xs:element minOccurs="0" name="user" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>